# =========================
# Python / Backend
# =========================
.venv/
venv/
__pycache__/
*.pyc
*.log
*.db
.env

# Dataset Storage
storage/
backend/app/storage/
datasethub_storage/

# ML Models
*.pt
*.pth
mlruns/
runs/
test_results/

# Core dumps and caches
core.*
.cache/
yolo26n/

# Old/dead code
backend/app.py
backend/app/

# =========================
# Frontend / Node
# =========================
node_modules/
dist/

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
Thumbs.db