# =========================
# Python / Backend
# =========================
.venv/
venv/
__pycache__/
*.pyc
*.log
*.db

# Dataset Storage
storage/
backend/app/storage/
datasethub_storage/

# ML Models
*.pt
*.pth
mlruns/
runs/
test_results/

# =========================
# Frontend / Node
# =========================
node_modules/
dist/

# =========================
# OS / Editor
# =========================
.vscode/
.DS_Store
Thumbs.db